@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.editor-container {
  color: black;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 16px;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  max-height: 500px;
  overflow-y: auto;

}

.editor-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.editor-name {
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  color: #333;
}

.save-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.DraftEditor-root {
  padding: 10px;
  min-height: 150px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.6;
  min-height: 300px;


}

.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
  height: inherit;
  text-align: left;
}

.public-DraftEditor-content {
  min-height: 280px;
}


.headerOneStyle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.public-DraftEditorPlaceholder-root {
  color: #888;
  position: absolute;
  z-index: 1;
}

.public-DraftEditor-content {
  z-index: 2;
  position: relative;
}
@media (max-width: 768px) {
  .editor-container {
    width: 95%;
  }
}